@media screen and (max-width: 600px) {
  
  .navbar_nav {
    font-size: 1rem;
    top: 0.75rem;
  }

  .nav > li {
    margin-left: 10px;
    margin-right: 10px;
  }

  .weatherInfo {
    top: 5rem;
    height: 7rem;
    width: 11rem;
    right: 5%;
    border-radius: 5px;
  }

  .data{
    top: 15%;
    padding-left: 1rem;
  }
  .current_temp{
    font-size: 3rem;
  }
  .current_temp_cel{
    top: -30px;
    font-size: 1.5rem;
  }
  .current_city{
    left: 100px;
    top: 50px;
    font-size: 2rem;
  }
  .current_time{
    font-size: 12px;
    left: 100px;
  }
  .current_day{
    font-size: 12px;
    left: 130px;
  }

  .current_date{
    font-size: 12px;
    left: 190px;
  }

  .weather{
    font-size: 12px;
    left: 5%;
    top: 0;
  }

  .cloudy{
    font-size: 12px;
    left: 10%;
    top: 20%;
  }

  .cloudy_report{
    font-size: 12px;
    top: 20%;
    right: 10%;
  }

  .humidity{
    font-size: 12px;
    top: 45%;
    left: 10%;
  }

  .humidity_report{
    font-size: 12px;
    top: 45%;
    right: 10%;
  }

  .wind{
    font-size: 12px;
    left: 10%;
    top: 70%;
  }

  .wind_report{
    font-size: 12px;
    right: 10%;
    top: 70%;
  }

  .cities {
    min-height: 200vh;
  }

  .cities_card {
    margin-top: 2.5rem;
    top: 40%;
    gap: 3.5rem;
    flex-direction: column;
  }

  .search_bar {
    top: calc(50% + 550px);
  }

  form {
    width: 350px;
  }

  .earth{
    min-height: 60vh;
  }

  .earth_img{
    width: 100%;
    top: 10%;
  }

  .all-news-cards {
    flex-direction: column;
  }

  .news-card {
    min-height: 200vh;
  }

  .all-news-cards {
    top: 50%;
    gap: 2rem;
  }

  .weather_app{
    left: 40px;
    top: 80px;
    font: 400 24px/24px "Phenomicon";
  }

  .row{
    right: 40px;
  }
}

